<main class="container my-5 h-75">
    <form class="w-50 mx-auto" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 fw-normal text-center">Create Account</h1>
        <div class="form-floating mb-2">
            <input type="text" formControlName="name"
                [ngClass]="{'is-invalid':submitted && registerForm.controls['name'].errors}" class="form-control"
                id="name" placeholder="Name">
            <label for="name">Name</label>
            <div *ngIf="submitted && registerForm.controls?.['name']?.errors">
                <div *ngIf="submitted && registerForm.controls?.['name']?.errors?.['required']" class="text-danger">
                    Name is required
                </div>
                <div *ngIf="submitted && registerForm.controls?.['name']?.errors?.['minlength']" class="text-danger">
                    Name should be atleat 3 character
                </div>
            </div>
        </div>
        <div class="form-floating  mb-2">
            <input type="email" [ngClass]="{'is-invalid':submitted && registerForm.controls['email'].errors}" class="
                form-control" formControlName="email" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
            <div *ngIf="submitted && registerForm.controls?.['email']?.errors">
                <div *ngIf="submitted && registerForm.controls?.['email']?.errors?.['required']" class="text-danger">
                    Email is required
                </div>
                <div *ngIf="submitted && registerForm.controls?.['email']?.errors?.['email']" class="text-danger">
                    Email is incorrect
                </div>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="password" [ngClass]="{'is-invalid':submitted && registerForm.controls['password'].errors}"
                class="form-control" formControlName="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <div *ngIf="submitted && registerForm.controls?.['password']?.errors">
                <div *ngIf="submitted && registerForm.controls?.['password']?.errors?.['required']" class="text-danger">
                    Password is required
                </div>
                <div *ngIf="submitted && registerForm.controls?.['password']?.errors?.['minlength']"
                    class="text-danger">
                    Password should be atleast 6 character
                </div>
            </div>
        </div>
        <!-- <div class="form-floating mb-2">
            <input type="password"
                [ngClass]="{'is-invalid':submitted && registerForm.controls['confirm_password'].errors}"
                class="form-control" formControlName="confirm_password" id="floatingConfirmPassword"
                placeholder="Confirm Password">
            <label for="floatingConfirmPassword">Confirm Password</label>
        </div> -->

        <!-- <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        <div *ngIf="errorMsg" class="text-danger">
            {{errorMsg}}
        </div>
    </form>
</main>